<!DOCTYPE html>

<html lang="en">
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <title>SUNI Reportar un problema</title>
    </head>
    <body>
        <img src="{{ url_for('static', filename='images/vectorrosa.png') }}" alt="Fondo1" class="background-image1" id="background-image1">
        <img src="{{ url_for('static', filename='images/vectorazul.png') }}" alt="Fondo2" class="background-image2" id="background-image2">        
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ url_for('index') }}">
                    <img src="{{ url_for('static', filename='images/suni.png') }}" alt="SUNI Logo" style="width: 110px; height: auto;">
                  </a>     
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link" href="{{ url_for('index') }}">Horario</a>
                  <a class="nav-link" href="{{ url_for('reservation') }}">Reservación de aula</a>
                  <a class="nav-link active" aria-current="page" href="{{ url_for('reports') }}">Reportar un problema</a>
                  <a class="nav-link" href="{{ url_for('account') }}">Mi cuenta</a>
                </div>
              </div>
            </div>
        </nav>
        <div class="container">
            {% if has_resolved_reports %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                Uno o más de tus reportes han sido resueltos recientemente.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            <h1>Reportar un problema</h1>
            <p class="slogan">Aquí puedes realizar reportes sobre incidencias que hayas observado en tus salones.</p>
        </div>
        <div class="container my-4">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-8">
                    <div class="card-shadow">
                        <div class="card-body">
                            <form method="post" action="{{ url_for('reports') }}">
                                <div class="mb-3">
                                    <label for="classroom" class="form-label">Salón</label>
                                    <select class="form-select" id="classroom" name="classroom" required>
                                        <option value="">Seleccione un salón...</option>
                                        {% for classroom in classrooms %}
                                        <option value="{{ classroom.classroomId }}">{{ classroom.classroomNumber }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="incidentDate" class="form-label">Fecha de Incidencia</label>
                                    <input type="date" class="form-control" id="incidentDate" name="incidentDate" required>
                                </div>
                                <div class="mb-3">
                                    <label for="description" class="form-label">Descripción</label>
                                    <textarea class="form-control" id="description" name="description" rows="4" required></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Reportar Problema</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container my-4">
            <h2 class="repant">Reportes Anteriores</h2>
            <div class="accordion" id="accordionReports">
                {% for report in reports %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading{{ report.incidentReportId }}">
                            <button class="accordion-button collapsed {% if report.isAddressed %} resuelto-bg {% else %} pendiente-bg {% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ report.incidentReportId }}" aria-expanded="false" aria-controls="collapse{{ report.incidentReportId }}">
                                Reporte #{{ report.incidentReportId }}
                            </button>
                        </h2>
                        <div id="collapse{{ report.incidentReportId }}" class="accordion-collapse collapse" aria-labelledby="heading{{ report.incidentReportId }}" data-bs-parent="#accordionReports">
                            <div class="accordion-body">
                                <strong>Salón:</strong> {{ report.classroomNumber }}<br>
                                <strong>Fecha de Incidencia:</strong> {{ report.incidentDate }}<br>
                                <strong>Descripción:</strong> {{ report.description }}<br>
                                <strong>Estado:</strong> {% if report.isAddressed %} Resuelto {% else %} Pendiente {% endif %}<br>
                                <strong>Comentario del Administrador:</strong> {{ report.admin_comment | default('No hay comentarios aún.') }}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="card">
                        <div class="card-body">
                            No hay reportes anteriores.
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>        
        <img src="{{ url_for('static', filename='images/cabsuni.png') }}" alt="cabeza" class="jaguarhead" id="jaguarhead">        
    </body>
</html>