<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SUNI Reservación de Aula</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <img src="{{ url_for('static', filename='images/vectorrosa.png') }}" alt="Fondo1" class="background-image1" id="background-image1">
        <img src="{{ url_for('static', filename='images/vectorazul.png') }}" alt="Fondo2" class="background-image2" id="background-image2">          
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ url_for('index') }}">
                    <img src="{{ url_for('static', filename='images/suni.png') }}" alt="SUNI Logo" style="width: 110px; height: auto;">
                  </a>     
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                <a class="nav-link" href="{{ url_for('index') }}">Horario</a>
                <a class="nav-link active" aria-current="page" href="{{ url_for('reservation') }}">Reservación de aula</a>
                <a class="nav-link" href="{{ url_for('reports') }}">Reportar un problema</a>
                <a class="nav-link" href="{{ url_for('map') }}">Mapa</a>
                <a class="nav-link" href="{{ url_for('account') }}">Mi cuenta</a>
                </div>
            </div>
            </div>
        </nav>
        <div class="container">
            
                <h1>Reservación de Aula</h1>
                <p class="slogan">Aquí puedes registrar los detalles para solicitar acceso a un salón en un horario específico.</p>
                    </div>
        <div class="container my-4">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card-shadow">
                        <div class="card-body">
                            <form method="post" action="{{ url_for('reservation') }}">
                            <div class="card-header">
                                <h2>Reservación de aula</h2>
                            </div>
                                <div class="mb-3">
                                    <label for="classroom" class="form-label">Salón</label>
                                    <select class="form-select" id="classroom" name="classroom" required>
                                        <option value="">Seleccione un salón...</option>
                                        {% for classroom in classrooms %}
                                        <option value="{{ classroom.ClassroomID }}">{{ classroom.ClassroomNumber }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="date" class="form-label">Fecha</label>
                                    <input type="date" class="form-control" id="date" name="date" required>
                                </div>
                                <div class="mb-3">
                                    <label for="startTime" class="form-label">Hora de Inicio</label>
                                    <input type="time" class="form-control" id="startTime" name="startTime" required>
                                </div>
                                <div class="mb-3">
                                    <label for="endTime" class="form-label">Hora de Fin</label>
                                    <input type="time" class="form-control" id="endTime" name="endTime" required>
                                </div>
                                <div class="mb-3">
                                    <label for="description" class="form-label">Descripción del Motivo</label>
                                    <textarea class="form-control" id="description" name="description" rows="4" required></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Enviar Solicitud</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="{{ url_for('static', filename='images/cabsuni.png') }}" alt="cabeza" class="jaguarhead" id="jaguarhead">        
    </body>
</html>
